:root {
    --main-font:"Roboto","Montserrat", sans-serif;
    --secondary-font: "Raleway","Montserrat", sans-serif;
    --accent-color: hsl(207, 90%, 54%);
    --secondary-background-color: #2F303A;
    --subtitle-color: #757575;
    --title-color:#212121; 
    --project-filter-color:#F5F4FA;
    --secondary-color: #FFFFFF; 
    --contact-footer-link-color: rgba(255, 255, 255, 0.6); 
    --dark-logo-color: #000000 ;
    --team-section-bgc: #F5F4FA;
}

body {
    font-family: "Roboto","Montserrat", sans-serif;
    background-color: #FFFFFF;
    color:#212121;

}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* ===========header=========== */ 
.list{
    list-style: none;
}

a {
    text-decoration: none;
  
}
.logo{
    color:var(--dark-logo-color);
}

.logo-footer{
    color: var(--secondary-color);
}
.logo-link{
font-family:var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--accent-color);
}

.menu-link {
font-family: var(--main-font);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-color);

}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.contact-link {
font-family: var(--main-font);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--subtitle-color);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);}

/* ===========main=========== */

.hero {
    background-color: var(--secondary-background-color);
}
.hero-title{
font-family: var(--main-font);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
color: var(--secondary-color);
}

.modal-button:hover,
.modal-button:focus {
    color: var(--accent-color);  
}

.modal-button {
color: var(--secondary-color);
background-color: var(--accent-color);
font-family: var(--main-font);
font-weight: bold;
font-size: 16px;
line-height: 1.8;
letter-spacing: 0.06em;
cursor: pointer;

}

.features-item {
font-family: var(--main-font);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing:  0.03em;
text-transform: uppercase;
color: var(--title-color); 

}
.features-description{
font-family: var(--main-font);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em ;
color: var(--subtitle-color);
}



.work-title{
font-family: var(--main-font);
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
}

.team-section{
    background-color: var(--team-section-bgc);
}
.team-section-title{
font-family: var(--main-font);
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing:  0.03em;
}
.employee-name{
font-family: var(--main-font);
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;

}

.position {
font-family: var(--main-font);
font-weight: 400;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--subtitle-color);
}

/* ============footer============ */
.footer{
    background-color: var(--secondary-background-color);
} 

.location-link {
font-family: var(--main-font);
font-weight: 400;
font-size: 14px;
line-height:  1.71;
letter-spacing: 0.03em;
color: var(--secondary-color);
}

.contact-footer-link{
font-family: var(--main-font);
font-weight: 400;
font-size: 14px;
line-height:  1.71;
letter-spacing: 0.03em;
color: var(--contact-footer-link-color);

}
.address-font-style {
 font-style: normal;
}


.contact-footer-link:hover,
.contact-footer-link:focus {
    color: var(--accent-color);}


    /* ======== MAIN SECTION Portfolio======== */

    .project-filter{
font-family: var(--main-font);
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
cursor: pointer;
background-color: var(--project-filter-color) ;
    }

.project-filter:hover,
.project-filter:focus {
    color: var(--secondary-color);
    background-color: var(--accent-color);
}

   
    
.project-title{
    font-family: var(--main-font);
     font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--title-color); 
  
}

.project-item {
font-family: var(--main-font);
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color:var(--subtitle-color);

}

.menu-link.current{
color:var(--accent-color);
}


